<link href="~/styles/animalDetailsCard.css" rel="stylesheet" />
<link href="~/styles/commentSection.css" rel="stylesheet" />

@model PetShopApplication.Models.Animal;

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <div><img class="animalImage" src="~/images/Animals/@Model.PictureName" alt="This is a picture of @Model.Name"></div>
    <hr width="50%">
    <div class="ageCategory">
        <div>@Html.DisplayFor(model => model.Age) year@(Model.Age == 1 ? "" : "s") old</div>
        <div>@Html.DisplayNameFor(model => model.Category!.Name) @Html.DisplayFor(model => model.Category!.Name)</div>
    </div>
    <hr width="50%">
    <div class="description">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<div class="commentSection">
    <div class="commentInputBox">
        <textarea type="text" placeholder="Enter your comment here..." class="commentInput" maxlength="300"></textarea>
        <button class="submitCommentButton">Submit</button>
    </div>
    <div id="CommentSection" class="commentList">
        @await Component.InvokeAsync("CommentSection", Model)
    </div>
</div>


<script>
    $(document).ready(function () {
        $(".submitCommentButton").click(function () {
            var commentContent = $(".commentInput").val();
            $.ajax({
                url: '/Catalog/AddComment',
                type: 'POST',
                data: { animalId: @Model.Id, commentContent: commentContent },
                success: function (result) {
                    $('#CommentSection').html(result);
                    $(".commentInput").val('');

                    var textarea = document.querySelector('.commentInput');
                    textarea.style.height = 'auto';
                }
            });
        });
    });
</script>