<link href="~/styles/animalDetailsCard.css" rel="stylesheet" />

@model PetShopApplication.Models.Animal;

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <div><img class="animalImage" src="~/images/@Model.PictureName" alt="This is a picture of @Model.Name"></div>
    <hr width="50%">
    <div class="ageCategory">
        <div>@Html.DisplayFor(model => model.Age) year@(Model.Age == 1 ? "" : "s") old</div>
        <div>@Html.DisplayNameFor(model => model.Category!.Name) @Html.DisplayFor(model => model.Category!.Name)</div>
    </div>
    <hr width="50%">
    <div class="description">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

@await Component.InvokeAsync("CommentSection", Model)
