@model PetShopApplication.ViewComponents.AnimalCardViewModel

<link href="~/styles/cardStyle.css" rel="stylesheet" />
<div class="card">
    <a asp-action="@Model.Action" asp-controller="@Model.Controller" asp-route-animalId="@Model.Animal.Id">
        <img class="cardImage" src="~/images/Animals/@Model.Animal.PictureName" alt="Picture of @Model.Animal.Name" />

        <div class="text-center">@Model.Animal.Name</div>
    </a>
    @if (Model.ShowDeleteButton)
    {
        <button id="redX-@Model.Animal.Id"><img class="redXsvg" src="~/images/Utility/Red_X.svg" alt="Red X svg" /></button>
    }
</div>

<script>
    $(document).ready(function () {
        $("#redX-@Model.Animal.Id").click(function () {
            event.preventDefault();
            event.stopPropagation();
            $.ajax({
                url: '/@Model.Controller/DeleteAnimal',
                type: 'POST',
                data: { animalId: @Model.Animal.Id },
                success: function (result) {
                    window.location.reload();
                }
            });
        });
    });
</script>